
.header {
    background: linear-gradient(to bottom right, hsl(240, 5%, 84%) 35%, hsl(240, 5%, 65%) 50%, hsl(240, 6%, 90%) 55%);
    // background: linear-gradient(to bottom right, hsl(240, 5%, 26%) 35%, hsl(240, 4%, 46%) 50%, hsl(240, 5%, 26%) 55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}